body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.custom-container{
    height: 512px;
    background-color: rgb(193, 220, 220);
}
.custom-front-size{
    font-size: 64px;
    line-height: 60px;
}
.custom-text{
    font-size: 24px;
}

.custom-text span{
font-size: 18px;
}
.custom-line{
    height: 64px;
    width: 1px;

}
.custom-img{
    height: 20px;
    width: 20px;

}
.custom-card{
    height: 463px;
}
.arrow{
    width: 40px;
}
.custom-footer{
    background-color: rgb(193, 220, 220);
}
/* @media screen and (max-width: 1000px) {
    .text-div{
     width: 100%;
     font-size: 20px;
     font-weight: 500;
    }
.custom-text{
    font-size: 15px;
}
} */